<!DOCTYPE html>
<html>

<head>
    <style>
        h1 {
            text-align: center;
        }

        .logo-container {
            display: flex;
            justify-content: center;
        }

        .logo {
            max-width: 100%;
            height: auto;
        }

        .hora-fecha {
            text-align: center;
            font-size: 24px;
        }
    </style>
</head>

<body>
    <h1>Bienvenidos al Sistema de Gestión de VIVA'S APARTMENTS</h1>
    <div class="logo-container">
        <img class="logo" src="~/Media/logoB.png" alt="Logo">
    </div>

    <h3><strong>Soporte Técnico</strong></h3>
    <h3>Correo: ACE-solutions@gmail.com</h3>
    <h3>Teléfono: 2535-4489</h3>
    <h3>Versión del Sistema: 0.1</h3>
    <h3 id="hora-fecha">Hora y Fecha: </h3>

    <script>function mostrarHora() {
            // Obtener la hora y fecha actual
            var fecha = new Date();
            var hora = fecha.getHours();
            var minutos = fecha.getMinutes();
            var segundos = fecha.getSeconds();
            var dia = fecha.getDate();
            var mes = fecha.getMonth() + 1;
            var año = fecha.getFullYear();

            // Ajustar el formato de los minutos y segundos si son menores a 10
            if (minutos < 10) {
                minutos = "0" + minutos;
            }
            if (segundos < 10) {
                segundos = "0" + segundos;
            }

            // Mostrar la hora y fecha en el formato deseado
            var horaFecha = "Hora: " + hora + ":" + minutos + ":" + segundos + " - Fecha: " + dia + "/" + mes + "/" + año;

            // Mostrar la hora y fecha en la página
            document.getElementById("hora-fecha").innerHTML = horaFecha;
        }

        // Actualizar la hora cada segundo
        setInterval(mostrarHora, 1000);</script>
</body>

</html>
