

@* Estilo del error *@
<style>
    form .error {
        color: red;
    }

    input.error {
        border-color: red;
    }
</style>


<div id="DivTablaUsuario" class="p-4 container shadow-lg">

    <h2 class="p-4">Tabla de Usuarios</h2>

    <table id="TablaDeUsuarios" class="table-responsive table align-middle mb-0 bg-white w-100 table table-striped table-hover table-bordered rounded-2">
        <thead class="bg-light">
            <tr>
                <th>Nombre Completo</th>
                <th>Usuario</th>
                <th>Correo electrónico</th>
                <th>Fecha Creacion</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>




<div id="DivAgregarUsuario" style="display:none" class="container shadow-lg p-4">
    <form class="row" id="AgregarUsuario">

        <p class="text-start my-3 fw-bold fs-4">Datos Personales</p>

        <!-- Lado izquierdo -->

        <div class="col-6">
            <label for="NombrePersona" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="NombrePersona" name="NombrePersona">
            <div class="invalid-feedback"></div>
        </div>

        <div class="col">

            <div class="form-group">
                <label for="Apellido" class="form-label">Apellido:</label>
                <input type="text" name="Apellido" id="Apellido" class="form-control">
                <div class="invalid-feedback"></div>
            </div>

        </div>

        <div class=" p-4">
            <hr style="border: 2PX solid BLACK" />
        </div>

        <p class="text-start my-3 fw-bold fs-4">Datos Usuario</p>

        <div class="col-lg-12">
            <label for="NombreUsuario" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="NombreUsuario" name="NombreUsuario" remote="@Url.Action("ValidarCedula", "Cliente")">
            <div class="invalid-feedback"></div>
        </div>

        <div class="col-6">
            <label for="CampoContraseña" class="form-label">Contraseña: </label>
            <input type="password" class="form-control" id="CampoContraseña" name="CampoContraseña">
            <div class="invalid-feedback"></div>
        </div>

        <div class="col-6">
            <label for="CampoConfirmarContraseña" class="form-label">Confirme Contraseña: </label>
            <input type="password" class="form-control" id="CampoConfirmarContraseña" name="CampoConfirmarContraseña">
            <div class="invalid-feedback"></div>
        </div>

        <div class="col-6">
            <label for="Correo" class="form-label">Correo:</label>
            <input type="email" class="form-control" id="Correo" name="Correo">
            <div class="invalid-feedback"></div>
        </div>


        <div class="col-6">
            <div class="">
                <label for="IdRol" class="form-label">Rol:</label>
                <div class="dropdown">
                    <select class="selectpicker form-control" select data-live-search="true" data-live-search-style="startsWith" id="IdRol" name="IdRol" aria-label="Seleccionar">
                    </select>
                    <div class="invalid-feedback"></div>
                    <div class="dropdown-menu" aria-labelledby="IdRol">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="DivModificarClienteContrato" style="display:none" class="container shadow-lg p-4">
    @*Aqui se muestra el html de la de copia*@
</div>

@section scripts{
    <script src="~/Scripts/JSvistas/Seguridad/Usuario/Index.js"></script>
}
